@model stageOpdrachtMVC.Models.InlogAccountModel
@{
    // Check if the ViewBag has the "Foutmelding" value
    var foutmelding = ViewBag.Foutmelding as string;
    var name = ViewBag.Username as string;

}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Inloggen</title>
</head>
<body class="bg-gray-100 font-sans">
   @*Controlleert of je al bent ingelogd*@
    @if(ViewBag.Status == true)
    {
        <h1 class="text-3xl text-center">@name, Welkom bij onze boekenwinkel!</h1>
    }
    else
    {
        <div class="container mx-auto mt-16">
        <div class="max-w-md mx-auto bg-white rounded p-8 shadow-md">
            <h2 class="text-2xl font-bold mb-8">Inloggen</h2>

            <form method="post" asp-action="Index" asp-controller="Home">
                @Html.HiddenFor( Model => Model.returnUrl)
                <input type="text" placeholder="Gebruikersnaam" name="Username" asp-for="Username"
                       class="w-full px-4 py-2 mb-4 border rounded-md">

                <input type="password" placeholder="Wachtwoord" name="Password" asp-for="Password"
                       class="w-full px-4 py-2 mb-4 border rounded-md">

                <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700">
                    Inloggen
                </button>
            </form>

            <p class="mt-4">
                @Html.ActionLink("Maak een nieuwe account!", "NewAccount",  new { @class = "text-blue-500" })
            </p>

            @if (!string.IsNullOrEmpty(ViewBag.Foutmelding))
            {
                <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center">
                    @ViewBag.Foutmelding
                </div>
            }
        </div>
    </div>
    }
    

</body>
</html>
