@model stageOpdrachtMVC.Models.InlogAccountModel
@{
    // Check if the ViewBag has the "Foutmelding" value
    var foutmelding = ViewBag.Foutmelding as string;
    


}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inloggen</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }

        .container {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        }
    
        h2 {
            margin-top: 0;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
  
    <div class="container">
        <h2>Inloggen</h2>
       <form method="post" asp-action="Index" asp-controller="Home">
    <input type="text" placeholder="Gebruikersnaam" name="Username" asp-for="Username" required>
    <input type="password" placeholder="Wachtwoord" name="Password" asp-for="Password" required>
    <input type="submit" value="Inloggen">
</form>

        @Html.ActionLink("Maak een nieuwe account!", "NewAccount")

     @if (!string.IsNullOrEmpty(foutmelding))
{
    <div class="alert alert-danger">
        @foutmelding

    </div>
    
    
}
       
    </div>
    
    
</body>
</html>

