@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Alles op onze website wordt prive gehouden. We gaan echt niet je ip leaken. Hier onder kun je zien dat we verified zijn:</p><br />
<img src="/images/verified.png" />
